.card {
  height: 520px;
  width: 84%;
  margin-top: 20px;
  margin-left: 8%;
  background-image: url("../so-white.png");
}
.card-container {
  display: flex;
  flex-direction: row;
  height: 500px;
}
.card-container-col {
  display: flex;
  flex-direction: column;;
  height: 500px;
}
.section-left {
  width: 30%;
  font-size: 25px;
  font-weight: 5px;
  line-height: 500px;
}
.section-right {
  padding-left: 0;
  width: 65%;
  text-align: left;
}